*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
.nav{
    position: fixed;
    width: 100%;
    padding: 15px 0;
    background:#1f1e1e;
}
.width{
    max-width: 1300px;
    padding: 0 80px;
    margin: auto;

}
.nav .width{
    display: flex;
    align-items: center;
    justify-content: space-between;

}
.nav .logo a{
    color: white;
    font-size: 35px;
    font-weight: 600;
}
.nav .menu li{
    display: inline-block;
}
.nav .menu li a{
    color: white;
    font-size: 18px;
    font-weight: 500;
    margin-left: 25px;
    transition: color 0.3s ease;
}
.nav .menu li a:hover{
    color: white;
}
.menu-btn{
    color: brown;
    font-size: 23px;
    cursor: pointer;
    display: none;
}
.home{
    display: flex;
    height: 100vh;
    background-size: cover;
    color: white;
    min-height: 500px;
    background:#3aafa9;
}
.home .width{
    margin: auto 0 auto 40px;
}
.home .home-cont .t1{
    font-size: 27px;
    color:black;
}
.home .home-cont .t2{
    font-size: 75px;
    font-weight: 600;
    margin-left: -3px;
}
.home .home-cont .t3{
    font-size: 40px;
    margin: 5px 0;
    color:black;
}
section{
    padding: 100px 0;
}
.about{
    font-family: 'Poppins',sans-serif; 
}

.about .title{
    position: relative;
     text-align: center;
     font-size: 40px;
     font-weight: 500;
     margin-bottom: 60px;
     padding-bottom: 20px;
     font-family: 'Roboto',sans-serif;
}

.about .about-cont{
 display: flex;
 flex-wrap: wrap;
 align-items: center;
 justify-content: space-between;


}

.about .about-cont .left{
 width: 45%;
} 
.about .about-cont .left img{
 height: 300px;
 width: 300px;
 object-fit: cover;
 border-radius: 6px;
}
.about .about-cont .right{
 width: 55%;
}

.about .about-cont .right p{
 text-align: justify;
 font-size: 18px;
 font-family:arial;
 line-height:30px;
}

.about .about-cont .right a{
     display: inline-block;
     background: crimson;
     color: #fff;
     font-size: 20px;
     font-weight: 500;
     padding: 10px 30px;
     margin-top: 20px;
     border-radius: 6px;
     border: 2px solid crimson;
     transition: all 0.3s ease;
 }
 .about .about-cont .right a:hover{
     color: crimson;
     background: none;
 }

.about .about-cont .p{
 justify-content: space-between;
}
.about .about-cont p span{
  color: #548294;
  font-size:30px;
}

@media (max-width:1300px){
    .home .width{
        margin-left:0px;
    }
 }
@media (max-width:991px){
    .width{
        padding: 0 50px;
    }
}

@media (max-width:947px){
        
    .menu-btn{           
        display: block;
        z-index:999;
    }

    .menu-btn i.active:before{
        content:"\f00d"
    }
    .nav .menu{
        position:fixed;
        height:100vh;
        width:100%;
        left:-100%;
        top:0;
        background:black;
        text-align: center;
        padding-top:80px;
        transition: all 0.3s ease;
    }
    .nav .menu.active{
        left:0;
    }
    .nav .menu li{
        display:block;
    }
    .nav .menu li a{
        display:inline-block;
        margin:20px 0;
        font-size:25px;
    }
    .home .home-cont .t2{
        font-size: 40px;
    }
    .home .home- .t3{
        font-size: 25px;       
    }
    .width{
        max-width: 800px;
    }
    .about .about-cont .column{
        width:100%;
    }
    .about .about-cont .left{
         display: flex;
         justify-content: center;
         margin:0 auto 60px;
    }  
    .about .about-cont .right {
         flex:100%;
    }    
 }
 @media (max-width: 690px) {
    .max-width{
        padding: 0 23px;
    }
    .home .home-cont .t2{
        font-size: 60px;
    }
    .home .home-cont .t3{
        font-size: 32px;
    }
}
@media (max-width: 500px) {
    .home .home-cont .t2{
        font-size: 50px;
    }
    .home .home-cont .t3{
        font-size: 27px;
    }
    .about .about-cont .right .text,
    .skills .skills-content .left .text{
        font-size: 19px;
    }
    .contact .right form .fields{
        flex-direction: column;
    }
    .contact .right form .name,
    .contact .right form .email{
        margin: 0;
    }
    .right form .error-box{
       width: 150px;
    }
    .scroll-up-btn{
        right: 15px;
        bottom: 15px;
        height: 38px;
        width: 35px;
        font-size: 23px;
        line-height: 38px;
}
}

.skillsc2 h3
{
font-size: 30px;

    line-height: 40px;
    text-align: center;
    font-weight: 400;
    margin-bottom: 60px;
   margin-top: 30px;

    font-family: Arial, Helvetica, sans-serif;
}
.skillsrow
{
margin-left:2%;

padding:10px;
}




.skillsc2 img {
  border-radius: 50%;
  width:150px;
  height:150px;
  padding:20px;
}

.scontainer1 {
  width: 90%;


  background-color: #ddd;
  height:20px;
}

.skills {
  text-align: right;
  padding-top: 5px;
  padding-bottom: 5px;
  color: white;
}

.html {width: 90%; background-color: #59ab8d; height:20px;}
.css {width: 80%; background-color: #596cab; height:20px;}
.cs {width: 70%; background-color: #e64ca0; height:20px;}
.c {width: 75%; background-color: #59ab8d; height:20px;}
.ds {width: 50%; background-color: #596cab; height:20px;}
.js {width: 80%; background-color:#e64ca0; height:20px;}
.agtm {width: 60%; background-color: #59ab8d; height:20px;}




.container
    {
  border: 0px solid red;
  border-radius: 8px;
  padding: 5px;
  margin :0% 0% 5% 0%;
    }@media screen and (max-width: 800px) {
     .container{
 margin :0% 0%;}
}

    input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 2px solid #242329;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type=submit] {
  background-color: #04AA6D;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-left:40%;

}

input[type=submit]:hover {
  background-color: #45a049;
}

.container {
  border-radius: 5px;
  background-color: #fff;
  padding:20px;


}
.con1 {
  float: left;
  width: 50%;
  padding: 0 10px;
}


.main {margin: 0 0px;
background-color:#5a5585;
padding :20px;
}

/* Clear floats after the columns */
.main:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive columns */
@media screen and (max-width: 800px) {
  .con1 {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }

}

.con1 .container2 {

color:white;
margin-top:10%;

}
i
{
padding:5px;
color:white;
}
.mainteams {
  max-width: 1600px;
  margin: auto;
  background-color: #f1f1f1;
  padding: 20px;
  font-family: Arial;
}

.teams3 h1 {
  font-size: 50px;
  word-break: break-all;
}

.teamsr {
  margin: 8px -16px;
}

/* Add padding BETWEEN each column */
.teamsr,
.teamsr > .teamsc{
  padding: 8px;
}

/* Create four equal columns that floats next to each other */
.teamsc {
  float: left;
  width: 25%;

}

/* Clear floats after rows */
.teamsr:after {
  content: "";
  display: table;
  clear: both;
}

/* Content */
.teamscon {
  background-color: white;
  padding: 10px;
}
.teamsc img
{
height:250px;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 900px) {
  .teamsc{
    width: 50%;
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .teamsc{
    width: 60%;
    margin-right:20%;
    margin-left:20%;
  }
}
footer
{
background-color:black;
color:white;
padding:10px;
}


